/* header */
/* upper_navigation bar */
body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}
*{
    margin: 0px;
}
header{
    background-color: #f7f8fa;
    padding-bottom: 0.6%;
}
.upper_nav .left_box, .upper_nav .right_box{
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    color: slategrey;
}
.upper_nav .left_box{
    font-size: 120%;
}
.upper_nav .center_box{
    width: 20%;
    /* border: 1px solid red; */
}
.upper_nav{
    display: flex;
}
.upper_nav .left_box > div{
    /* border: 1px solid red; */
    padding: 3.6% 1.6%;
}
.upper_nav .center_box{
    font-size: 250%;
    font-weight: bolder;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.upper_nav .right_box > .icons > div{
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0% 4%;
}
.upper_nav .right_box > .icons > div > img{
    width: 20px;
    /* border: 1px solid green; */
}
.upper_nav .right_box > .icons > div > img + span{
    /* border: 1px solid black; */
    margin-left: 15%;
    font-size: 80%;
    font-weight: bolder;
}
.upper_nav .right_box .services_offers{
    width: 65%;
    /* border: 1px solid black; */
    font-size: 80%;
    display: flex;
    align-items: center;
}
/* .right_box .services_offers span::after{
    content: " ";
} */
.upper_nav .right_box .services_offers span{
    color: red;
    font-weight: bolder;
    margin-right: 1%;
}
.upper_nav .right_box .icons{
    width: 35%;
    /* border: 1px solid red; */
    display: flex;
    /* align-items: center; */

}
.upper_nav .left_box > div:hover{
    color: black;
}
.upper_nav .icons > div:hover{
    background-color: white;
    color: black;
}

/* lower_navigation bar */
.lower_nav{
    display: flex;
    background-color: white;
    height: 50px;
}
.lower_nav .left{
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
}
.lower_nav .left > div{
    /* padding:1.4% 0%; */
    font-size: 75%;
    font-weight: bold;
    margin-left: 2.6%;  
    /* border: 1px solid black;      */
    display: flex;  
    align-items: center; 
    height: 100%;  
}
.lower_nav .left > div:hover{
    border-bottom: 2px solid black;
}
.lower_nav .left > div > a{
    text-decoration: none;
    color: black;
}
.lower_nav .right{
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-self: center;

}
.lower_nav .right input{
    width: 75%;
    padding: 3.5%;
    border: 1px solid rgb(192, 189, 189);
    /* text-align: center; */
    color: slategrey;
}
.lower_nav .right input:hover{
    border: 1px solid rgb(136, 135, 135);
}
.lower_nav .right > div{
    width: 15%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5b68f;
    cursor: pointer;
    border: none;
}
.lower_nav .right > div:hover{
    background-color: #f3c39b;
}
.lower_nav .right > div:active{
    border: 2px solid #d8a880;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #e5b68f;
}
.lower_nav .right > div img{
    width: 20px;
    /* border: 1px solid green; */
}
.cursor_pointer{
    cursor: pointer;
}

/*  ------------------------------------------------------------------------------------------ */

body{
    /* position: relative; */
    /* border: 3px solid red; */
    /* height: 100vh; */
}
footer{
    /* border: 1px solid black; */
    /* position: absolute;
    left: 0px;
    bottom: 0px; */
}
/* footer */
footer .main_div{
    width: 99.8%;
    height: 470px;
    /* border: 1px solid green; */
    background-color: #fafafa;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 4.5%;
    padding-bottom: 2.5%;
}

.main_div > .left{
    width: 35%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_div > .right{
    width: 40%;
    /* border: 1px solid black; */
}
.main_div > .left > .upper{
    /* border: 1px solid red; */
    height: 45%;
    display: flex;
    justify-content: space-between;
}
.main_div > .left > .lower{
    /* border: 1px solid red; */
    height: 35%;
}
.main_div > .left > .upper > *{
    width: 25%;
    /* border: 1px solid green; */
}
.main_div > .left > .upper > * > *{
    /* border: 1px solid black; */
    margin-bottom: 0.8%;
}
.main_div > .left > .upper > * > div > a{
    text-decoration: none;
    color: grey;
    font-size: 75%;
}
.main_div > .left > .lower{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main_div > .left > .lower > div{
    color: grey;
    font-size: 75%;
    margin-bottom: 1.1%;
}
.main_div > .left > .lower > div > a{
    color: grey;
    border-right: 1px solid grey;
    padding-right: 2%;
}
.not_first{
    margin-left: 2%;
}
.main_div > .left > .lower > div:last-child{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.main_div > .left > .lower > div:last-child > img{
    width: 2%;
    /* border: 1px solid red; */
}
.main_div > .left > .lower > div:last-child > span{
    /* border: 1px solid red; */
    text-decoration: underline;
}

.main_div > .right > .top{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
.main_div > .right > .top > .left{
    /* border: 1px solid red; */
    width: 55%;
}
.main_div > .right > .top >.left > div img{
    width: 8%;
    margin-top: 6%;
    margin-right: 5%;
}
.main_div > .right > .top > .right{
    /* border: 1px solid red; */
    width: 30%;
}
.main_div > .right > .top > .right > div img{
    width: 15%;
    margin-top: 11%;
    margin-right: 7%;
    /* border: 1px solid red; */
}
.main_div > .right > .center{
    /* border: 1px solid green; */
    height: 25%;
    margin-top: 3%;
}
.main_div > .right > .center > div{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 1.1%;
}
.main_div > .right > .center > div > input{
    width: 75%;
    padding: 1.3%;
    border: 1px solid rgb(192, 189, 189);
    font-size: 85%;
}
.main_div > .right > .center > div > input:hover{
    border: 1px solid rgb(136, 135, 135);
}
.main_div > .right > .center > div > button{
    width: 25%;
    border: none;
    background-color: black;
    color: white;
    font-size: 100%;
    box-sizing: border-box;
}
.main_div > .right > .center > div > button:hover{
    background-color:rgb(100, 90, 90);
}
.main_div > .right > .center > div > button:active{
    border: 2px solid grey;
    background-color: black;
    border-radius: 3px;
}
.main_div > .right > .bottom{
    /* border: 1px solid black; */
}
.main_div > .right > .bottom > div{
    /* border: 1px solid red; */
    margin-top: 2%;
}
.main_div > .right > .bottom > div img{
    width: 6%;
    margin-right: 1.8%;
}


/* body part of signIn page */
body .main_container{
    width: 50%;
    border: 1px solid black;
    margin: 4% auto;
    display: flex;
}
body .main_container > div{
    width: 50%;
    border: 1px solid red;
    box-sizing: border-box;
}
body .main_container > .left{
    padding-right: 12.5%;
}
body .main_container > .right{
    padding-left: 12.5%;
}
body .main_container > div{
    font-size: 75%;  
    color: grey;
}
body .main_container select{
    font-size: 100%;
    border: none;
}
body .main_container > div > h3{
    /* border: 1px solid green; */
    text-align: center;
    font-size: 170%;
    color: black;
}
body .main_container > div > div.address{
    margin: 8% 0%;
}
body .main_container > div > div.input{
    /* border: 1px solid green; */
    margin-top: 1%;
    margin-bottom: 6%;
}
body .main_container > div > div > input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid rgb(192, 189, 189);
}
body .main_container > div > div > input:hover{
    border: 1px solid black;
}
body .main_container > div > button.black{
    width: 100%;
    box-sizing: border-box;
    font-size: 145%;
    font-weight: bolder;
    color: white;
    background-color: black;
    border: none;  
    height: 40px;
}
body .main_container > div > button.black:hover{
    background-color:rgb(100, 90, 90);
}

body .main_container > div > button.black:active{
    border: 3px solid grey;
    background-color: black;
    border-radius: 3px;
}
body .main_container > .left > div.recover_password{
    text-align: center;
    margin-top: 3.5%;
}
body .main_container > .left > div.recover_password > a{
    text-decoration: none;
    color: grey;
}
body .main_container > .left > div.recover_password > a:hover{
    text-decoration: underline;
    color: black;
}
body .main_container > .left > div.horizontal_line{
    height: 25px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}
body .main_container > .left > div.horizontal_line > div{
    display: inline-block;
    color: rgb(212, 207, 207);
}
body .main_container > .left > div.horizontal_line > div.mid_line{
    width: 45%;
    height: 1.5px;
    background-color: rgb(212, 207, 207);
}
body .main_container > .left > a.button{
    /* border: 1px solid green; */
    display: block;
    box-sizing: border-box;
    height: 40px;
    text-decoration: none;
    margin-bottom: 6%;
}
body .main_container > .left > a.button > button{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0% 8%;
    border: 1px solid rgb(192, 189, 189);
}
body .main_container > .left > a.button > button > img{
    width: 10%;
    /* border: 1px solid black; */
}
body .main_container > .left > a.button > button > span{
    width: 90%;
    /* border: 1px solid green; */
    text-align: center;
    color: grey;
    /* font-weight: bold; */
    font-size: 120%;
    font-weight: 600;
}
body .main_container > .left > div:last-child{
    /* border: 1px solid green; */
    margin-top: 15%;
    text-align: center;
}
body .main_container > .left > div:last-child > div{
    margin-bottom: 1%;
}
body .main_container > .left > div:last-child span{
    color: rgb(214, 4, 4);
    font-weight: bold;
}
body .main_container > .right > div:last-child{
    border: 1px solid black;
    margin-top: 14%;
    text-align: center; 
}
body .main_container > .right > div:last-child > a{
    text-decoration: none;
    color: black;
}
body .main_container > .right > div:last-child > a:hover{
    text-decoration: underline;
}
body .main_container > .right > div:last-child > div{
    margin-top: 2%;
}
body .main_container > .right > div:last-child > div > a{
    text-decoration: none;
    color: blue;
}